<html>

<head>
    <meta charset="utf-8">
    <title>iGame Autocomplete</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<form class="form-inline">
    <div class="form-group">
        {{form.game(class="form-control")}}
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>

<div id="result"></div>

<script>
    $(document).ready(function(){
        var game=[];
        function loadGames(){
            $.getJSON('/game', function(data, status, xhr){
                for (var i = 0; i < data.length; i++ ) {
                    game.push(data[i].name);
                }
            });
        };
        loadGames();

        $('#game').autocomplete({
            source: game,
        });
    });
</script>

</body>
</html>